*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Poppins",sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.bg {
    /* The image used */
    background-image: url("background3d.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container{
   
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.card{
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  background:white;
 
}

.pokemon{
    min-height:35vh;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.pokemon img{
    width: 15rem;
    z-index: 2;
    transition:all 0.75s ease-out;
}

.circle{
    width: 15rem;
    height: 15rem;
    background: linear-gradient(to right, rgba(127,175,184,0.75), rgba(74,111,84,0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    margin-top: 16px;
}

.info{
    text-align: center;
}

.info h1{
    font-size: 3rem;
    transition:all 0.75s ease-out;
    
}

.info h3{
    font-size: 1.3rem;
    padding:2rem 0rem;
    color:#585858;
    font-weight: lighter;
    transition:all 0.75s ease-out;


}

.type{
    display:flex;
    justify-content: space-between;
    transition:all 0.75s ease-out;
    
}

.type a{
   padding:1rem 4rem;
   border:none;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
   cursor: pointer;
   font-weight: bold;
   font-size: 1.3rem;
   border-radius: 5px;
   color: white;
   font-weight: lighter;
   margin:5px;
   transition:all 0.75s ease-out;
   text-decoration: none;
}

.grass{
    background-color:rgb(155,204,80);  
}

.poison{
    background-color: rgb(185,127,201);
}

